body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #725ac1;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #4527a0;
  font-size: 28px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #4527a0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #4527a0;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
}

.button-group {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4527a0;
  color: #fff;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5f49b5;
}
